
  body {
    background-image: url('tlo.jpg');
    color: black;
    font-size: 20px;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #f3ede2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    padding: 20px;
    align-self: center;
    text-align: center;
}

.nav-cells {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.nav-cells a {
    padding: 12px 20px;
    border: 2px solid #6f8f1d;
    text-decoration: none;
    color: #6f8f1d;
    font-weight: bold;
    background-color: #eef4d6;
    transition: 0.3s;
}

.nav-cells a:hover {
    background-color: #6f8f1d;
    color: white;
}

.content {
    flex: 1;
    display: flex;
    padding: 40px;
}

.home {
    flex: 1;
    text-align: center;
}

.about {
    flex: 1;
    text-align: right;
}



  footer{
    background-image: url('stopka.jpg');
    color: white;
    text-align: center;
    padding: 1px 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  footer a:hover {
    color: #bfc4ab;
  }
  .home-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin-top: 40px;
    align-items: start;
}

.home-columns .column {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.home-columns .column a {
    color: #2f5e0e;
    text-decoration: none;
    font-weight: bold;
}

.home-columns .left h3 {
    color: #2f5e0e;
}
.home-columns .left h3:hover {
    color: #6f8f1d;
}
.home-columns .left p {
    text-align: center;
}
.home-columns .right h3 {
    color: #2f5e0e;
}
.home-columns .right h3:hover {
    color: #6f8f1d;
}
.home-columns .right p {
    text-align: center;
}
.home-columns h3 {
    margin-top: 0;
}


   .column.center {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

    position: relative;
    left: 0;
    right: 0;
    grid-column: 1 / -1;
    justify-self: center;
}


img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
}

.sticky {
    position: sticky;
    top: 120px;
    align-self: flex-start;
}



.podpunkt {
    font-size: 80%;
}
ul {
  text-align: left;
  padding-left: 1.4em;
}

ul li {
  list-style-position: outside;
}